<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>genesis 1</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="texto">
        <div class="container__texto">
            <div class="content__texto">

         <div class="word">
    <div class="container d-flex align-items-center flex-column justify-content-center">
        <div class="row p-3 " >
       <h1 class="h1 p-3">{{vi}}{{vs}}</h1>
 <ol>
      {% for verse in resultado["verses"] %}
        <li>{{ verse["number"] }} {{ verse["text"] }}</li>
      {% endfor %}
    </ol>
</div>

     </div>
      </div>
      </div>
      </div>
        <a style="color:black;" href="/">Voltar a pagina principal</a>
</body>
</html>