{% extends 'base.html' %}

{% block content %}
 <header>
        <div class="header__container">
         <div class="row__header">
             <div class="header__content">
                <div id="logo">
                    <img src="static/biblia.jpg" alt="logo">
                </div>
                 <form action="#" method="post">
                     <input type="text" name="nome" placeholder="livro abreviada ex:sl salmos">
                     <input type="text" name="capitulo" placeholder="capitulo ex: 1 2 3">
                     <button class="btn btn-primary" value="submit" type="submit" >busca</button>
                 </form>
          </div>
         </div>
        </div>
    </header>
    <h2 class="h2">Antigo testamento</h2>
    <nav>
                     <div class="container container-fluid">
                        <a class="btn btn-primary" href="/biblia/gn">GN</a>
                        <a class="btn btn-primary" href="/biblia/ex">EX</a>
                        <a class="btn btn-primary" href="/biblia/lv">LV</a>
                        <a class="btn btn-primary" href="/biblia/nm">NM</a>
                        <a class="btn btn-primary" href="/biblia/dt">DT</a>
                        <a class="btn btn-primary" href="/biblia/js">JS</a>
                        <a class="btn btn-primary" href="/biblia/jz">JZ</a>
                        <a class="btn btn-primary" href="/biblia/ru">RU</a>
                        <a class="btn btn-primary" href="/biblia/1sm">1SM</a>
                        <a class="btn btn-primary" href="/biblia/2sm">2SM</a>
                        <a class="btn btn-primary" href="/biblia/1rs">1RS</a>
                        <a class="btn btn-primary" href="/biblia/2rs">2RS</a>
                        <a class="btn btn-primary" href="/biblia/1cr">1CR</a>
                         <a class="btn btn-primary" href="/biblia/2cr">2CR</a>
                        <a class="btn btn-primary" href="/biblia/ed">ED</a>
                        <a class="btn btn-primary" href="/biblia/ne">NE</a>
                        <a class="btn btn-primary" href="/biblia/et">ET</a>
                        <a class="btn btn-primary" href="/biblia/job">JÓ</a>
                        <a class="btn btn-primary" href="/biblia/sl">SL</a>
                        <a class="btn btn-primary" href="/biblia/pv">PV</a>
                        <a class="btn btn-primary" href="/biblia/ec">EC</a>
                        <a class="btn btn-primary" href="/biblia/ct">CT</a>
                        <a class="btn btn-primary" href="/biblia/is">IS</a>
                        <a class="btn btn-primary" href="/biblia/jr">JR</a>
                        <a class="btn btn-primary" href="/biblia/lm">LM</a>
                        <a class="btn btn-primary" href="/biblia/ez">EZ</a>
                        <a class="btn btn-primary" href="/biblia/dn">DN</a>
                        <a class="btn btn-primary" href="/biblia/os">OS</a>
                        <a class="btn btn-primary" href="/biblia/jl">JL</a>
                        <a class="btn btn-primary" href="/biblia/am">AM</a>
                        <a class="btn btn-primary" href="/biblia/ob">OB</a>
                        <a class="btn btn-primary" href="/biblia/jn">JN</a>
                        <a class="btn btn-primary" href="/biblia/mq">MQ</a>
                        <a class="btn btn-primary" href="/biblia/na">NA</a>
                        <a class="btn btn-primary" href="/biblia/hc">HC</a>
                        <a class="btn btn-primary" href="/biblia/sf">SF</a>
                        <a class="btn btn-primary" href="/biblia/ag">AG</a>
                        <a class="btn btn-primary" href="/biblia/zc">ZC</a>
                        <a class="btn btn-primary" href="/biblia/ml">ML</a>
                     </div>

    </nav>
    <div class="sidebar">
        <div class="container__sidebar">
            <div class="content__sidebar">
                <p class="h5">
                    2 Timóteo 3:16-17

16Toda a Escritura é inspirada por Deus e útil para o ensino, para a repreensão, para a correção e para a instrução na justiça,

17para que o homem de Deus seja apto e plenamente preparado para toda boa obra.
                </p>
            </div>
        </div>
    </div>
    <article>
        <h2 class="h2">Novo testamento</h2>
        <table class="nav__tabela">
                     <div class="container container-fluid">
                        <a class="btn btn-primary" href="/biblia/mt">MT</a>
                        <a class="btn btn-primary" href="/biblia/mc">MC</a>
                        <a class="btn btn-primary" href="/biblia/lc">LC</a>
                        <a class="btn btn-primary"  href="/biblia/joao">JO</a>
                        <a class="btn btn-primary" href="/biblia/at">AT</a>
                        <a class="btn btn-primary" href="/biblia/ro">RO</a>
                        <a class="btn btn-primary" href="/biblia/1co">1CO</a>
                        <a class="btn btn-primary" href="/biblia/2co">2CO</a>
                        <a class="btn btn-primary" href="/biblia/gl">GL</a>
                        <a class="btn btn-primary" href="/biblia/ef">EF</a>
                        <a class="btn btn-primary" href="/biblia/fp">FP</a>
                        <a class="btn btn-primary" href="/biblia/cl">CL</a>
                        <a class="btn btn-primary" href="/biblia/1ts">1TS</a>
                        <a class="btn btn-primary" href="/biblia/2ts">2TS</a>
                        <a class="btn btn-primary" href="/biblia/1tm">1TM</a>
                        <a class="btn btn-primary" href="/biblia/2tm">2TM</a>
                         <a class="btn btn-primary" href="/biblia/tt">TT</a>
                        <a class="btn btn-primary" href="/biblia/fm">FM</a>
                        <a class="btn btn-primary" href="/biblia/hb">HB</a>
                        <a class="btn btn-primary" href="/biblia/tg">TG</a>
                        <a class="btn btn-primary" href="/biblia/1pe">1PE</a>
                        <a class="btn btn-primary" href="/biblia/2pe">2PE</a>
                        <a class="btn btn-primary" href="/biblia/1jo">1JO</a>
                        <a class="btn btn-primary" href="/biblia/2jo">2JO</a>
                        <a class="btn btn-primary" href="/biblia/3jo">3JO</a>
                        <a class="btn btn-primary" href="/biblia/jd">JD</a>
                        <a class="btn btn-primary" href="/biblia/ap">AP</a>
                     </div>
        </table>
    </article>
    <footer>
        <div class="footer__container">
        <div class="row__footer">
            <div class="footer__content">
                <p class="h5">Biblia - © 2012</p>
                <p class="h5">Autor William</p>
                <p class="h5">Gloria a Deus</p>
            </div>
        </div>
        </div>
    </footer>
{% endblock %}
