{% extends 'base.html' %}

{% block content %}
<header>
    <div class="header__container">
        <div class="row__header">
            <div class="header__content">
                <div id="logo">
                    <h1>Biblia Online</h1>
                </div>
                <button id="dark-mode-toggle">Toggle Dark Mode</button>
                 <form action="#" method="post">
                     <input type="text" name="nome" placeholder="livro ">
                     <input type="text" name="capitulo" placeholder="capitulo ex: 1 2 3">
                     <button class="btn btn-primary" value="submit" type="submit" >busca</button>
                 </form>
          </div>
         </div>
        </div>
    </header>

    <h2 class="h2">Antigo testamento</h2>
    <nav>
                     <div class="container container-fluid">
                        <a class="btn btn-secondary" href="/biblia/gn">GENESES</a>
                        <a class="btn btn-secondary" href="/biblia/ex">EXODO</a>
                        <a class="btn btn-secondary" href="/biblia/lv">LEVITICOS</a>
                        <a class="btn btn-secondary" href="/biblia/nm">NUMEROS</a>
                        <a class="btn btn-secondary" href="/biblia/dt">DEOTERONOMIO</a>
                        <a class="btn btn-secondary" href="/biblia/js">JOSUE</a>
                        <a class="btn btn-secondary" href="/biblia/jz">JUIZES</a>
                        <a class="btn btn-secondary" href="/biblia/ru">RUTH</a>
                        <a class="btn btn-secondary" href="/biblia/1sm">1 SAMUEL</a>
                        <a class="btn btn-secondary" href="/biblia/2sm">2 SAMUEL</a>
                        <a class="btn btn-secondary" href="/biblia/1rs">1 REIS</a>
                        <a class="btn btn-secondary" href="/biblia/2rs">2 REIS</a>
                        <a class="btn btn-secondary" href="/biblia/1cr">1 CRONICA</a>
                         <a class="btn btn-secondary" href="/biblia/2cr">2 CRONICA</a>
                        <a class="btn btn-secondary" href="/biblia/ed">ESDRAS</a>
                        <a class="btn btn-secondary" href="/biblia/ne">NEEMIAS</a>
                        <a class="btn btn-secondary" href="/biblia/et">ESTER</a>
                        <a class="btn btn-secondary" href="/biblia/job">JÓ</a>
                        <a class="btn btn-secondary" href="/biblia/sl">SALMOS</a>
                        <a class="btn btn-secondary" href="/biblia/pv">PROVERBIOS</a>
                        <a class="btn btn-secondary" href="/biblia/ec">ECLESIASTES</a>
                        <a class="btn btn-secondary" href="/biblia/ct">CANTARES</a>
                        <a class="btn btn-secondary" href="/biblia/is">ISAIAS</a>
                        <a class="btn btn-secondary" href="/biblia/jr">JEREMIAS</a>
                        <a class="btn btn-secondary" href="/biblia/lm">LAMENTAÇÕES</a>
                        <a class="btn btn-secondary" href="/biblia/ez">EZEQUIEL</a>
                        <a class="btn btn-secondary" href="/biblia/dn">DANIEL</a>
                        <a class="btn btn-secondary" href="/biblia/os">OSEIAS</a>
                        <a class="btn btn-secondary" href="/biblia/jl">JOEL</a>
                        <a class="btn btn-secondary" href="/biblia/am">AMOS</a>
                        <a class="btn btn-secondary" href="/biblia/ob">OBADIAS</a>
                        <a class="btn btn-secondary" href="/biblia/jn">JONAS</a>
                        <a class="btn btn-secondary" href="/biblia/mq">MIQUEIAS</a>
                        <a class="btn btn-secondary" href="/biblia/na">NAUM</a>
                        <a class="btn btn-secondary" href="/biblia/hc">HABACUQUE</a>
                        <a class="btn btn-secondary" href="/biblia/sf">SOFONIAS</a>
                        <a class="btn btn-secondary" href="/biblia/ag">AGEU</a>
                        <a class="btn btn-secondary" href="/biblia/zc">ZACARIAS</a>
                        <a class="btn btn-secondary" href="/biblia/ml">MALAQUIAS</a>
                     </div>

    </nav>
    <div class="sidebar">
        <div class="container__sidebar">
            <div class="content__sidebar">
                <p class="h5">
                    2 Timóteo 3:16-17

16Toda a Escritura é inspirada por Deus e útil para o ensino, para a repreensão, para a correção e para a instrução na justiça,

17para que o homem de Deus seja apto e plenamente preparado para toda boa obra.
                </p>
            </div>
        </div>
    </div>
    <article>
        <h2 class="h2">Novo testamento</h2>
        <table class="nav__tabela">
                     <div class="container container-fluid">
                        <a class="btn btn-success" href="/biblia/mt">MATEUS</a>
                        <a class="btn btn-success" href="/biblia/mc">MARCOS</a>
                        <a class="btn btn-success" href="/biblia/lc">LUCAS</a>
                        <a class="btn btn-success"  href="/biblia/joao">JOÃO</a>
                        <a class="btn btn-success" href="/biblia/at">ATOS</a>
                        <a class="btn btn-success" href="/biblia/ro">ROMANOS</a>
                        <a class="btn btn-success" href="/biblia/1co">1 CORINTIOS</a>
                        <a class="btn btn-success" href="/biblia/2co">2 CORINTIOS</a>
                        <a class="btn btn-success" href="/biblia/gl">GALATAS</a>
                        <a class="btn btn-success" href="/biblia/ef">EFESIOS</a>
                        <a class="btn btn-success" href="/biblia/fp">FILIPENSES</a>
                        <a class="btn btn-success" href="/biblia/cl">COLOSSENSES</a>
                        <a class="btn btn-success" href="/biblia/1ts">1 TESSALONICENSES</a>
                        <a class="btn btn-success" href="/biblia/2ts">2 TESSALONICENSES</a>
                        <a class="btn btn-success" href="/biblia/1tm">1 TIMOTEO</a>
                        <a class="btn btn-success" href="/biblia/2tm">2 TIMOTEO</a>
                         <a class="btn btn-success" href="/biblia/tt">TITO</a>
                        <a class="btn btn-success" href="/biblia/fm">FILEMON</a>
                        <a class="btn btn-success" href="/biblia/hb">HEBREUS</a>
                        <a class="btn btn-success" href="/biblia/tg">TIAGO</a>
                        <a class="btn btn-success" href="/biblia/1pe">1 PEDRO</a>
                        <a class="btn btn-success" href="/biblia/2pe">2 PEDRO</a>
                        <a class="btn btn-success" href="/biblia/1jo">1 JOÃO</a>
                        <a class="btn btn-success" href="/biblia/2jo">2 JOÃO</a>
                        <a class="btn btn-success" href="/biblia/3jo">3 JOÃO</a>
                        <a class="btn btn-success" href="/biblia/jd">JUDAS</a>
                        <a class="btn btn-success" href="/biblia/ap">APOCAPLIPSE</a>
                     </div>
        </table>
    </article>
    <footer>
        <div class="footer__container">
        <div class="row__footer">
            <div class="footer__content">
                <p class="h5">Biblia - © 2012</p>
                <p class="h5">Autor William</p>
                <p class="h5">Gloria a Deus</p>
            </div>
        </div>
        </div>
    </footer>
{% endblock %}
